@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Employees";
}


<div class="alert alert-warning">
    @ViewBag.Message

</div>
@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-success">
        @TempData["Message"]

    </div>
}
<h1>All Employee</h1>


<br />
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary ">   Create The New Employee </a>
<br />
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>

                
              

                <th>@Html.DisplayNameFor(E => E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                <th>@Html.DisplayNameFor(E => E.Salary)</th>
                <th>@Html.DisplayNameFor(E => E.IsActive)</th>
                <th>@Html.DisplayNameFor(E => E.Age)</th>
                <th>@Html.DisplayNameFor(E => E.Gender)</th>
                <th>@Html.DisplayNameFor(E => E.EmpType)</th>
                
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    
                    <th>@employee.Name</th>
                    <th>@employee.Age</th>
                    <th>@employee.Salary</th>
                    <th>@employee.IsActive</th>
                    <th>@employee.Gender</th>
                    <th>@employee.EmpType</th>
                    <th>@employee.Email</th>
                    <partial name="_ButtonsPartials" model="@employee.Id" />

                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        this is NO  Employee


    </div>
}